<footer class="my-5 py-5">
    <p class="text-secondary"><span id="hora"></span></p>
    <ul class="nav gap-4">
        <li class="nav-item">
            <a class="nav-link fw-medium p-0" href="/projects" >Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-medium p-0 disabled text-secondary" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-medium p-0 disabled text-secondary" href="/blog">Blog</a>
        </li>
    </ul>
</footer>

<script>
    function actualizarHora(): void {
        const ahora = new Date();
        const hora: string = ahora.toLocaleTimeString();
        const horaElem = document.getElementById("hora");
        if (horaElem) {
            horaElem.textContent = hora;
        }
    }

    actualizarHora();
    setInterval(actualizarHora, 1000);
</script>
