<footer class="my-5 py-5">
    <ul class="nav gap-4 mb-2 ">
        <li class="nav-item">
            <a class="nav-link fw-medium p-0 text-secondary" href="/projects" >Linkedin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-medium p-0 text-secondary" href="/about">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-medium p-0  text-secondary" href="/blog">Email</a>
        </li>
    </ul>
    <p class="m-0 mb-2">&copy; Diseñado y desarrollado por Ronald Santana 2025</p>
</footer>

<script>
    function actualizarHora(): void {
        const ahora = new Date();
        const hora: string = ahora.toLocaleTimeString();
        const horaElem = document.getElementById("hora");
        if (horaElem) {
            horaElem.textContent = hora;
        }
    }

    actualizarHora();
    setInterval(actualizarHora, 1000);
</script>
