<header class="mb-5 py-5">
    <h1 class="fs-6 mb-3">UX Enginner <br> <strong class="fs-1">Ronald Santana</strong></h1>
    <p class="mb-3">+1 año de experiencia. Prospero en entornos que combinan diseño y desarrollo, combinando la estética con la excelencia técnica para crear Sitios web y aplicaciones de alto impacto. Enfocado en Usar <strong class="typescript">TypeScript</strong>, <strong class="astro">Astro</strong> & <strong class="wordpress">Wordpress</strong>.</p>
    <p class="mb-3">Actualmente estudiando Multimedia en el ITLA con un enfoque por el diseño y desarrollo web. </p>
    <section class="d-flex gap-3 mt-4">
        <a href="#" class="text-secondary link-offset-2">Github</a>
        <a href="#" class="text-secondary link-offset-2">LinkedIn</a>
        <a href="#" class="text-secondary link-offset-2">rsantana@outlook.com</a>
    </section>
</header>

<style>
    .typescript {
        color: #007acc;
    }
    .astro {
        color: #ff5a00;
    }
    .wordpress {
        color: #007acc;
    }
</style>