<header class="mb-5 py-5">
    <h1 class="fs-6 mb-3">UX Enginner <br> <strong class="fs-1">Ronald Santana</strong></h1>
    <p class="mb-3">+1 año de experiencia. Prospero en entornos que combinan diseño y desarrollo, combinando la estética con la excelencia técnica para crear Sitios web y aplicaciones de alto impacto. Conocimientos en Usar <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>. <strong>Astro</strong>, <strong>Bootstrap</strong>, <strong>WordPress</strong>.</p>
    <p class="mb-3">Actualmente estudiando Multimedia en el ITLA con un enfoque por el diseño y desarrollo web. </p>
    <section class="d-flex gap-2 mt-4 flex-wrap">
        <a href="https://github.com/Iceheop" target="_blank">
            <span class="py-1 px-2 bg-secondary bg-opacity-25 rounded-2 fw-medium d-flex align-items-center">
                <i class="bi bi-github me-2"></i>
                Github
            </span>
        </a>
        <a href="https://do.linkedin.com/in/rsantanadev" target="_blank">
            <span class="py-1 px-2 bg-secondary bg-opacity-25 rounded-2 fw-medium d-flex align-items-center">
                <i class="bi bi-linkedin me-2"></i>
                LinkedIn
            </span>
        </a>
        <a href="mailto:rsantana@outlook.com" target="_blank">
            <span class="py-1 px-2 bg-secondary bg-opacity-25 rounded-2 fw-medium d-flex align-items-center">
                rsantana@outlook.com
            </span>
        </a>
    </section>
</header>

<style>
    a {
        text-decoration: none;
    }
    .typescript {
        color: #007acc;
    }
    .astro {
        color: #ff5a00;
    }
    .wordpress {
        color: #007acc;
    }
</style>