<header class="mb-5 py-5">
    <h1 class="fs-6 mb-3">UX Enginner <br> <strong class="fs-1">Ronald Santana</strong></h1>
    <p class="mb-3">Prospero en entornos que combinan diseño y desarrollo, combinando la estética con la excelencia técnica para crear Sitios web y aplicaciones de alto impacto. Conocimientos en Usar <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>. <strong>Astro</strong>, <strong>Bootstrap</strong>, <strong>WordPress</strong>.</p>
</header>

