<nav class="d-flex align-items-center justify-content-between py-4 mb-5">
    <a href="/">
        <img src="/favicon.svg" alt="" />
    </a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link fw-medium" href="/projects" >Projects</a>
        </li>
<!--         <li class="nav-item">
            <a class="nav-link fw-medium" href="/about" >About</a>
        </li> -->
<!--         <li class="nav-item">
            <a class="nav-link fw-medium" href="/blog" >Blog</a>
        </li> -->
    </ul>
</nav>

<style>
	img {
		width: 50px;
		height: 50px;
	}
</style>